Django==2.2.2
djangorestframework==3.9.4
django-extensions==2.1.7
django-filter==2.1.0
django-heroku==0.3.1
django-phonenumber-field==3.0.1
easy-thumbnails==2.6
gunicorn==19.9.0
phonenumberslite==8.10.13
